* {
  font-size: 16px;
}

body {
  background-color: black;
}

@media screen and (min-width: 600px) {
  body {
    background-color: red;
  }
  
  h1 {
    font-size: 2rem;
    color: black;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: purple;
  }
  
  h1 {
    font-size: 3rem;
    color: black;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: orange;
  }
  
  h1 {
    font-size: 4rem;
    color: black;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: pink;
  }
  
  h1 {
    font-size: 5rem;
    color: black;
  }
}