.App {
  text-align: center;
  padding: 5rem 1rem;
}

.error {
  color: red;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: white;
  border: 2px solid #042764;
  background-color: #85a7e2;
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: green;
}

input::placeholder,
select::placeholder {
  color: #a0aec0;
}

button {
  margin: 1rem auto;
  padding: 0.35rem 0.5rem;
  background-color: #a4b9ca;
  color: #1a202c;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

input.input-error,
select.select-error {
  border-color: red;
}
